<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>


  <%= label f, :login %>
  <%= text_input f, :login %>
  <%= error_tag f, :login %>

  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>

  <div>
    <%= submit "Login" %>
  </div>
<% end %>
