<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Clanserver · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
                  <%= if @conn.assigns.current_user do %>
                  <div>
                  <%= if @conn.assigns.current_user.clan do %>[<%= @conn.assigns.current_user.clan.clantag %>]<% end %><%= @conn.assigns.current_user.nickname %>


                  </div>

                      <%= link "Sign out", to: Routes.session_path(@conn, :delete), class: "navbar-item", method: :delete %>
                      <% end %>
          <ul>
            <li></li>
          </ul>
        </nav>
        <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <span><%= link "Users", to: Routes.user_path(@conn, :listing) %></span>
      <span><%= link "Clans", to: Routes.clan_path(@conn, :listing) %></span>
      <span><%= link "Invites", to: Routes.invite_path(@conn, :my_invites) %></span>
      <span><%= link "My subordinate", to: Routes.clan_path(@conn, :clan_list) %></span>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
