<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :id %>
  <%= text_input f, :id %>
  <%= error_tag f, :id %>

  <%= label f, :clan_id %>
  <%= text_input f, :clan_id %>
  <%= error_tag f, :clan_id %>

  <%= label f, :user_id %>
  <%= text_input f, :user_id %>
  <%= error_tag f, :user_id %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
