<h1>Listing Invites</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for invite <- @invites do %>
    <tr>
        <td><%= invite.id %></td>
        <td><%= invite.clan_id %></td>
        <td><%= invite.user_id %></td>
      <td>
        <span><%= link "Show", to: Routes.invite_path(@conn, :show, invite) %></span>
        <span><%= link "Edit", to: Routes.invite_path(@conn, :edit, invite) %></span>
        <span><%= link "Delete", to: Routes.invite_path(@conn, :delete, invite), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Invite", to: Routes.invite_path(@conn, :new) %></span>
