<h1>My Invites</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for invite <- @invites do %>
    <tr>

        <td><%= invite.clan.name %></td>
        <td>[<%= invite.clan.clantag %>]</td>
      <td>
        <span><%= link "Accept", to: Routes.invite_path(@conn, :accept_invite, invite) %></span>
        <span><%= link "Decline", to: Routes.invite_path(@conn, :delete, invite), method: :delete %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

