<h1>Listing Clans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Clantag</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for clan <- @clans do %>
    <tr>
      <td><%= clan.name %></td>
      <td><%= clan.clantag %></td>

      <td>
        <span><%= link "Show", to: Routes.clan_path(@conn, :show, clan) %></span>
        <span><%= link "Edit", to: Routes.clan_path(@conn, :edit, clan) %></span>
        <span><%= link "Delete", to: Routes.clan_path(@conn, :delete, clan), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Clan", to: Routes.clan_path(@conn, :new) %></span>
