<h1>Listing Clans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Clantag</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for clan <- @clans do %>
    <tr>
      <td><%= clan.name %></td>
      <td>[<%= clan.clantag %>]</td>

      <td>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "My Clan", to: Routes.clan_path(@conn, :new) %></span>