<h1>Show Clan</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @clan.name %>
  </li>

  <li>
    <strong>Clantag:</strong>
    <%= @clan.clantag %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.clan_path(@conn, :edit, @clan) %></span>
<span><%= link "Back", to: Routes.clan_path(@conn, :index) %></span>
