<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= if user.clan do %>[<%= user.clan.clantag %>]<% end %><%= user.nickname %></td>

      <td>
        <span><%= link "Invite", to: Routes.invite_path(@conn, :invite_user, user.id) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

