<h1>Show User</h1>

<ul>

  <li>
    <strong>Nickname:</strong>
    <%= @user.nickname %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
